* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.index {
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
}

.content {
    border-right: 2px solid rgb(71, 70, 70);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2, 2, 37);
    justify-content: space-between;
}

.profile {
    margin-top: 10%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid rgb(71, 70, 70);
}

.nav_links {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links > li {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 15px;
    list-style-type: none;
    list-style: none;
}

.links > li > a {
    color: rgb(192, 187, 187);
    text-decoration: none;
    position: relative;
    display: inline-block;
    min-width: 200px;
}

.links > li > a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: blue;
    left: 50%;
    bottom: -2px;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.links > li > a:hover::after, .links > li > a.active::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.content > footer {
    align-self: flex-end;
}

.content > footer > p {
    position: relative;
    top: 20px;
    left: 20%;
    color: aliceblue;
}

.content > footer > p > span {
    font-weight: bolder;
}

.main {
    position: relative;
    background-image: url(../assets/backround.jpeg);
    background-repeat: no-repeat;
    background-size:115vmax;
}

.main iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    
    
}

.home-file {
    display: flex;
    justify-content: center;
}

.intro-fase {
    height: 3rem;
    width: 60%;
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
}

.intro-fase > h1 {
    font-size: 3rem;
    letter-spacing: 3;
    margin-bottom: 20px;
    font-weight: bolder;
}

.intro-fase > h1 > span {
    color: blue;
    text-transform: uppercase;
}

.intro-fase > p {
    height: 2rem;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: rgb(192, 187, 187);
}


.all-resume {
    height: 100%;
    margin: 10px;
}

.resume-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 3.5fr, 1fr;
    height: 100%;
}

.name-post-contact {
    grid-column: 1 / -1;
    padding: 10px;
}

.name-post-contact > .lobster > h1 {
    letter-spacing: 3px;
    font-size: 3.5rem;
    color: blue;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.name-post-contact > .lobster > p {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1;
    color: rgb(192, 187, 187);
}

.name-post-contact > .lobster > .contact-info {
    list-style: none;
    position: relative;
    top: 20px;
    color: rgb(92, 92, 170);
}

.name-post-contact > .lobster > .contact-info > li {
    display: inline;
    margin-right: 20px;
    letter-spacing: 1.2px;
    font-size: 1.1rem;
    line-height: 3;
    color: blue;
}

.name-post-contact > .lobster > .contact-info > li > a {
    text-decoration: none;
    position: relative;
    color: blue;
}

.name-post-contact > .lobster > .contact-info > li > a::after{
    content: '';
    position: absolute;
    left: 50%; /* Position from the center */
    bottom: -2px;
    width: 0; /* Start with zero width */
    height: 2px;
    background-color: blue; /* Color of the underline */
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition */
}

.name-post-contact > .lobster > .contact-info > li > a:hover::after {
    left: 0; /* Start from the left */
    width: 100%; /* Full width on hover */
}



.experience-projects,
.education-skills {
    margin-top: 2%;
    padding: 10px;
    border-top: 3px solid rgb(71, 70, 70);
}

.experience-projects {
    border-right: 3px solid rgb(71, 70, 70);
}

.experience-projects > h2,
.education-skills > h2 {
    font-size: 3rem;
    color: blue;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-top: 20px;
}

.experience-projects > .sub-a,
.experience-projects > .sub-b,
.sub {
    margin-top: 10px;
    color: #3d3dd4;
    letter-spacing: 2px;
    padding-left: 5px;
    font-size: 1.2rem;
}

.experience-projects > .sub,
.sub2,
.sub3 {
    margin-top: 5px;
    color: #0404bb;
    letter-spacing: 2px;
    padding-left: 5px;
    font-size: 1rem;
}

.education-skills {
    margin-top: 4%;
}

.education-skills > .skills {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.education-skills > .skills-list-headers {
    color: #c0bbbb;
    font-size: 1.5rem;
    margin-top: 15px;
    font-weight: lighter;
}

.education-skills > .list {
    padding-top: 5px;
    color: white;
    padding-left: 0;
}

.education-skills > .beta {
    text-align: left;
}

.education-skills > h2,
.sub,
.sub2,
.sub3,
.center1 {
    text-align: left;
}

.more-info {
    width: 100%;
    border-top: 3px solid rgb(71, 70, 70);
    grid-column: 1 / -1;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.more-info > .first {
    margin-left: 0;
}

.more-info > .second {
    margin-right: 29%;
}

.more-info > .head {
    margin-top: 10px;
}

.more-info > .head > h3 {
    color: wheat;
    margin-bottom: 10px;
}

.more-info > .head > li {
    margin-top: 5px;
    list-style: none;
    color: white;
}
